header {
	font-family: arial;
	font-size: 40px;
	height: 200px;
}

body {
	background-color: white;
}

.leftbox {
	width: 30%;
	height: 150px;
	margin: 10px 7.5px;
	border-radius: 15px 50px;
  	background-color: teal;
  	padding: 20px;
  	float: left; 
}

.midbox{
	width: 30%;
	height: 350px;
	margin-left: 20px;
	border-radius: 15px 50px;
  	background-color: teal;
  	padding: 20px;
  	float: left;
}

.rightbox{
	width: 30%;
	height: 350px;
	margin-left: 20px;
	border-radius: 15px 50px;
  	background-color: teal;
  	padding: 20px;
  	float: left; 
}

.center{
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
	font-family: arial;
	font-size: 1.5rem;
	font-weight: bold;
}

a {
	color: black;
	text-decoration: none!important;
}