<html lang="sv">

<header>
    <title>Startsida</title>

    {{> _head}}

</header>

<body>
    {{> _navigation}}
    <main class="container">
        {{#formMessage}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{formMessage}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{/formMessage}}
        {{#product}}
        <div class="row">
            <div class="col col-12 col-md-6">
                <img src="https://via.placeholder.com/768" alt="Produktbild" class="img-fluid">
            </div>
            <div class="col col-12 col-md-6">
                <h2>{{name}}</h2>
                <small class="text-muted">artnr. {{prod_id}}</small>
                <p class="mt-2">
                    {{#rating}}
                        <span class="material-icons text-gold">star_rate</span>
                        <span class="text-align-vc">{{rating}}</span>
                        <span class="text-muted text-align-vc">({{ratings}})</span>
                    {{/rating}}
                    {{^rating}}
                        <span class="material-icons text-black-50">star_rate</span>
                        <span class="text-muted text-align-vc">0</span>
                    {{/rating}}
                </p>
                <div class="row">
                    <div class="col col-12 col-lg-6">
                        {{price}} kr <small class="text-muted">(exkl. moms)</small>
                    </div>
                    {{#user.loggedIn}}
                        <form action="/beställning/cart.php" method="POST" class="col col-12 col-lg-6">
                            <input type="hidden" value="PUT" name="action">
                            <input type="hidden" value="{{prod_id}}" name="pid">
                            <div class="input-group">
                                <input name="quantity" type="number" value="1" min="1" max="{{balance}}" step="1"
                                    class="form-control" placeholder="Antal" aria-describedby="button-addToCart">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-primary" {{^balance}}disabled{{/balance}}
                                        id="button-addToCart">
                                        Lägg i kundvagn
                                    </button>
                                </div>
                            </div>
                        </form>
                    {{/user.loggedIn}}
                    {{^user.loggedIn}}
                        <div class="col col-12 col-lg-6">
                            <div class="input-group">
                                <input name="quantity" type="number" value="1" min="1" max="{{balance}}" step="1"
                                    class="form-control" placeholder="Antal" aria-describedby="button-addToCart">
                                <div class="input-group-append">
                                    <button tabindex="0" class="btn btn-outline-primary btn-sm btn-add-to-cart {{^balance}}disabled{{/balance}}" 
                                        role="button" data-toggle="popover" data-trigger="focus" title="" 
                                        data-content="Du måste logga in eller registrera dig för att lägga produkter i kundvagnen">Lägg i kundvagn</button>
                                </div>
                            </div>
                            
                        </div>
                    {{/user.loggedIn}}
                </div>
                <div>
                    {{#balance}}
                    <span class="material-icons text-success">all_inbox</span>
                    {{/balance}}
                    {{^balance}}
                    <span class="material-icons text-danger">all_inbox</span>
                    {{/balance}}
                    <span class="text-align-vc">{{balance}} kvar</span>
                </div>
                <hr>
                <p class="text-wrap">{{description}}</p>
            </div>
        </div>
        <hr>
        <h3>Recensioner</h3>
        
        <div class="accordion" id="reviewAccordion">
            <!-- Accordian item 1 -->
            <div class="card">
                <div class="card-header" id="reviewWrite">
                    <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{#userReview}}
                            Ändra min recension
                        {{/userReview}}
                        {{^userReview}}
                            Skriv en recension
                        {{/userReview}}
                    </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse multi-collapse card-body">
                    {{#user.loggedIn}}
                        <form action="" method="post" autocomplete="off" lang="sv">
                            <input type="hidden" value="{{prod_id}}" name="pid">
                            <div class="form-group">
                                <label for="reviewTitle">Titel<span class="text-danger">*</span></label>
                                <input type="text" name="title" max="255" class="form-control" id="reviewTitle" aria-describedby="reviewTitleHelpText" placeholder="Ange en titel" value="{{userReview.title}}" required>
                                <small id="reviewTitleHelpText" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <label for="reviewComment">Kommentar</label>
                                <textarea name="comment" max="8000" class="form-control" id="reviewComment" aria-describedby="reviewCommentHelpText" placeholder="Skriv din recension här..." rows="4">{{userReview.comment}}</textarea>
                                <small id="reviewCommentHelpText" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <span>Omdöme<span class="text-danger">*</span></span>
                                <input type="number" name="reviewRating" id="reviewRating" style="opacity: 0; width: 0;" value="{{userReview.rating}}" required >
                                <div id="reviewStarsContainer">
                                    {{#userReview}}
                                        {{#fnOutputStars}}
                                            {{userReview.rating}}
                                        {{/fnOutputStars}}
                                    {{/userReview}}
                                    {{^userReview}}
                                        <span class="material-icons text-black-50 pointer" style="font-size: 2rem;">star_rate</span>
                                        <span class="material-icons text-black-50 pointer" style="font-size: 2rem;">star_rate</span>
                                        <span class="material-icons text-black-50 pointer" style="font-size: 2rem;">star_rate</span>
                                        <span class="material-icons text-black-50 pointer" style="font-size: 2rem;">star_rate</span>
                                        <span class="material-icons text-black-50 pointer" style="font-size: 2rem;">star_rate</span>
                                    {{/userReview}}
                                </div>
                            </div>
                            <div class="form-group">
                                <span>Rekommenderar<span class="text-danger">*</span></span>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="recommends" id="reviewRecommendsYes" value="1" required
                                        {{#userReview.recommends}}checked{{/userReview.recommends}}>
                                    <label class="form-check-label" for="reviewRecommendsYes">Ja</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="recommends" id="reviewRecommendsNo" value="0" required 
                                        {{^userReview.recommends}}checked{{/userReview.recommends}}>
                                    <label class="form-check-label" for="reviewRecommendsNo">Nej</label>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Spara recension</button>
                        </form>
                    {{/user.loggedIn}}
                    {{^user.loggedIn}}
                        <p>
                            Du måste <a href="/konto/login.php?returnUrl={{user.currentPath}}" class="text-decoration-none">logga in</a> eller 
                            <a href="/konto/register.php?returnUrl={{user.currentPath}}" class="text-decoration-none">registrera dig</a> för att skriva en recension.
                        </p>
                    {{/user.loggedIn}}
                </div>
            </div>

            <!-- Accordian item 2 -->
            <div class="card">
                <div class="card-header" id="reviewViewAll">
                    <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Visa alla recensioner
                    </button>
                    </h5>
                </div>

                <div id="collapseTwo" class="collapse multi-collapse card-body">
                    {{#reviews}}
                        <div>
                            <p>
                                <span>
                                    {{# fnOutputStars }}{{rating}}{{/ fnOutputStars }}
                                </span>
                                <span class="text-align-vc">{{username}}</span>
                                <span class="text-align-vc text-muted">
                                    för {{# fnTimeSince }}{{created_at}}{{/ fnTimeSince }} sedan
                                </span>
                                
                            </p>
                            <p>
                                {{comment}}
                            </p>
                            <p>
                                {{#recommends}}
                                    <span class="material-icons text-success">thumb_up</span>
                                    <span class="text-align-vc">Ja, jag rekommenderar denna produkt</span>
                                {{/recommends}}
                                {{^recommends}}
                                    <span class="material-icons text-danger">thumb_down</span>
                                    <span class="text-align-vc">Nej, jag rekommenderar inte denna produkt</span>
                                {{/recommends}}
                            </p>
                        </div>
                        <hr>
                    {{/reviews}}
                    {{^reviews}}
                        <span>
                            Här var det tomt, du kan skriva den första!
                        </span>
                    {{/reviews}}
                </div>
            </div>
        </div>
        {{/product}}
        {{^product}}
        <p>
            Produkten gick inte att hitta!
        </p>
        {{/product}}

    </main>
    <script>
        $("#reviewStarsContainer > span").click(function(e){
            const clickedStarIndex = $(e.target).index();
            $("#reviewRating").val(clickedStarIndex + 1);
            $("#reviewStarsContainer").children().each(function(i, elem){
                if(i <= clickedStarIndex){
                    $(elem).addClass("text-gold").removeClass("text-black-50");
                } else {
                    $(elem).removeClass("text-gold").addClass("text-black-50");
                }
            });
        });

        $('.btn-add-to-cart').popover({
            trigger: 'focus'
        });
    </script>
</body>

</html>